<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><%= form.label :name %></span>
    <%= form.text_area :name, class:'form-control' %>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <%= form.label :phone %>
    </span>
    <%= form.text_area :phone, class:'form-control' %>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <%= form.label :username %>
    </span>
    <%= form.text_area :username, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
