<p id="notice"><%= notice %></p>

<h1>Dispositons</h1>

<table class="table table-striped">
  <thead >
    <tr>
      <th>Dispocode</th>
      <th>Inmail</th>
      <th>To</th>
      <th>Comment</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dispositons.each do |dispositon| %>
      <tr>
        <td><%= dispositon.dispocode %></td>
        <td><%= dispositon.inmail_id %></td>
        <td><%= dispositon.to %></td>
        <td><%= dispositon.comment %></td>
        <td><%= dispositon.status %></td>
        <td><%= dispositon.user.name %></td>
        <td><%= link_to 'Show', dispositon %></td>
        <td><%= link_to 'Edit', edit_dispositon_path(dispositon) %></td>
        <td><%= link_to 'Destroy', dispositon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dispositon', new_dispositon_path %>
