<p id="notice"><%= notice %></p>

<p>
  <strong>Dispocode:</strong>
  <%= @dispositon.dispocode %>
</p>

<p>
  <strong>Inmail:</strong>
  <%= @dispositon.inmail_id %>
</p>

<p>
  <strong>To:</strong>
  <%= @dispositon.to %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @dispositon.comment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dispositon.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @dispositon.user_id %>
</p>

<%= link_to 'Edit', edit_dispositon_path(@dispositon) %> |
<%= link_to 'Back', dispositons_path %>
