<%= form_with(model: outmail, local: true) do |form| %>
  <% if outmail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outmail.errors.count, "error") %> prohibited this outmail from being saved:</h2>

      <ul>
      <% outmail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.text_area :to %>
  </div>

  <div class="field">
    <%= form.label :datesend %>
    <%= form.date_select :datesend %>
  </div>

  <div class="field">
    <%= form.label :mailtext %>
    <%= form.text_area :mailtext %>
  </div>

  <div class="field">
    <%= form.label :response %>
    <%= form.text_area :response %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
