<p id="notice"><%= notice %></p>

<h1>Outmails</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>To</th>
      <th>Datesend</th>
      <th>Mailtext</th>
      <th>Response</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outmails.each do |outmail| %>
      <tr>
        <td><%= outmail.title %></td>
        <td><%= outmail.to %></td>
        <td><%= outmail.datesend %></td>
        <td><%= outmail.mailtext %></td>
        <td><%= outmail.response %></td>
        <td><%= link_to 'Show', outmail %></td>
        <td><%= link_to 'Edit', edit_outmail_path(outmail) %></td>
        <td><%= link_to 'Destroy', outmail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outmail', new_outmail_path %>
